  body {
    font-family: "Figtree", sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.publish-date {
    margin-bottom: 5px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    white-space: nowrap;
}

.title:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px black;
    width: 340px;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: black solid 1px;
}

.card-content {
    max-width: 320px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border-radius: 15px; 
    margin-bottom: 20px;
    width: 100%;
}

.description {
    color: hsl(0, 0%, 42%);
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.category {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    color: black;
    padding: 7px 11px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 1000;
    justify-content: left;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    filter: grayscale(50%);
}

.profile-name {
    font-size: 16px;
    font-weight: 700;
}

.attribution {
    position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); 
  font-size: 12px;
  text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  


  
